#Intro{
    width: 100%;
    height: auto;
}
.introBackground{
    width: 100%;
    height: 93vh;
    text-align: end;
    background-color: rgba(33, 29, 36, 0.602);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.introWrapper{
    width: 58rem;
    height: auto;
    position: absolute;
    top: 22rem;
    right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 3rem;
    background-color: var(--mainColor);
    border-radius: 15px;
    color: var(--mainBlack);
    box-shadow: var(--secondaryBoxShadow);
}

.introWrapper h2{
    font-size: 3rem;
    padding: 1rem 0 0 0 ;
}

.introWrapper h1{
    font-size: 4rem;
    padding: 1rem 0 1rem 0;
}

.introWrapper p{
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
}

.introWrapper button{
    font-size: 1.5rem;
    padding: 1rem 5rem;
    border: none;
    border-radius: 8px;
}

.introWrapper button:hover{
    /* background-color: var(--mainGreen); */
    transform: scale(1.02); 
    transition: 0.3s;
}

@media (max-width: 768px) {
    .introBackground{
        height: 50rem;
        padding: 10rem 2rem 5rem 2rem;
    }
    .introLayer{
        content: "";
        background-color: rgba(0,0,0,.5);
        opacity: 90%;
        position: absolute;
        left: 0;
        top: 10;
        width: 100%;
        height: 50rem;
    }
    .introWrapper{
        position: absolute;
        width: 35rem;
        top: 2rem;
        right: 1rem;
        color: white;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .introWrapper h2{
        padding: 2rem 0 0 0 ;
    }
    .introWrapper button{
        align-self: center;
    }
}