#Intro{
    width: 100%;
    height: auto;
}
.introBackground{
    width: 100%;
    height: 93vh;
    text-align: end;
    background-color: rgba(33, 29, 36, 0.602);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.introWrapper{
    width: 58rem;
    height: auto;
    position: absolute;
    top: 22rem;
    right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 3rem;
    /* background-color: var(--mainColor); */
    border-radius: 15px;
    /* color: var(--mainBlack); */
    color: white;
    /* box-shadow: var(--secondaryBoxShadow); */

}

.introWrapper h2{
    font-size: 3rem;
    padding: 1rem 0 0 0 ;
}

.introWrapper h1{
    font-size: 4rem;
    padding: 1rem 0 1rem 0;
}

.introWrapper p{
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
}

.introWrapper .strong{
    color: var(--mainColor);
}

.introWrapper button{
    font-size: 2rem;
    padding: 1rem 5rem;
    border: none;
    border-radius: 8px;
    background-color: var(--mainColor);
}

.introWrapper button a{
    text-decoration: none;
    color: var(--mainBlack);
}

.introWrapper button:hover{
    /* background-color: var(--mainGreen); */
    background-color: var(--mainBgGray);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .introBackground{
        width: 100%;
        height: 50rem;
        padding: 3rem 0rem 5rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .introWrapper{
        position: initial;
        width: 100%;
        color: white;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    /* .introWrapper .strong{
        color: var(--mainColor);
    } */
    .introWrapper h2{
        padding: 2rem 0 0 0 ;
    }
    .introWrapper button{
        align-self: center;
        background-color: var(--mainColor);
        color: var(--mainBlack);
        padding: 1rem 4rem;
    }
}