#ModalGeneral{
    width: 100vw;
    height: 100vh;
    background-color: lightseagreen;
}

#ModalGeneral .backgroundlayer{
    width: 100vw;
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ModalGeneral .backgroundlayer .modalContainer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.modalContainer .closeButton{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
}

.modalContainer .modalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}