.priceCard{
    width: 345px;
    height: auto;
    margin: 0 2rem;
    background-color: antiquewhite;
    border-radius: 3px;
    box-shadow: var(--mainBoxShadow);
}

.priceCardWrapper{
    background-color: var(--mainBgGray);
    padding: 6rem 2rem;
    border-radius: 3px 3px 0 0;
}

.priceCard h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.priceCard h2{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.priceCard h3{
    margin-bottom: 2rem;
}

.priceCard .serviceFeaturesContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:flex-start;
    width: auto;
}

.priceCard .serviceFeaturesContainer .serviceFeature{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    width: 100px;
}

.priceCardWrapperSecondary{
    background-color: white;
    padding: 6rem 2rem;
    border-radius: 0 0 3px 3px;
    height: auto;
}

.featuresList{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: var(--mainFontGray);
}

.featuresList .listItem{
    display: flex;
    flex-direction: row;
}

.featuresList .listItem i{
    margin: 0 1rem 0 0;
}

.priceCard button{
    font-size: 1.5rem;
    padding: 1rem 10rem;
    border: none;
    border-radius: 8px;
    background-color: var(--mainColor);
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .priceCard{
        width: 345px;
        height: 600px;
        background-color: antiquewhite;
    }
    
}