#contactUs{
    width: 100%;
    height: auto;
    padding: 5rem 0 0 0;
}

.contactUsWrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0 2rem;
}

.contactUsWrapper h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.contactUsWrapper p{
    font-size: 1.5rem;
    text-align: center;
}

.contactMainContainer{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 6rem;
}

/* contact left container */

.contactLeftContainer{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 7rem 10rem;
}

.contactLeftBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.contactLeftBox img{
    width: 5rem;
    height: 5rem;
    margin: 1rem 2rem 1rem 1rem;
}

.contactLeftBox p {
    font-size: 1.8rem;
}

/* form */

.formContainer{
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    height: auto;
}

.formInputsContainer{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 2rem 0;
}

.contactFormInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.contactFormInput .input{
    width: 95%;
    height: 4.5rem;
    background-color: var(--mainBgGray);
    border: none;
    border-radius: 3px;
    font-size: 1.8rem;
    padding: 0 2rem;
}

.contactFormInput .input-message{
    width: 98%;
    height: 15rem;
}

.buttonFormContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonFormContainer button{
    margin: 2rem 0 3rem;
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
    padding: 1rem 5rem;
    border: none;
    border-radius: 8px;
    background-color: var(--mainColor);
}

@media (max-width: 768px) {
    
    .contactMainContainer{
        flex-direction:column-reverse;
    }

    .contactUsWrapper{
        padding: 0rem 5rem 2rem;
    }

    .contactLeftContainer{
        padding: 0 5rem;
    }

    .formContainer{
        width: 340px;
        padding: 0 0 0 4rem;
        margin-top: 3rem;
    }

    .formInputsContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: 7rem;
    }

    .formInputsContainer .input{
        margin-bottom: 1rem;
    }

    .socialMediaContainer{
        width: 300px;
    }

}